<!DOCTYPE html>
<html>

<head>
    <title>Magento Installation</title>
    <link rel="stylesheet" href="C:\\Users\sathish_a\Music\OLD_SYSTEM_88\python\Webpage\static\css\styleCss.css">
</head>


<body>
        <center>
                <div class="install-div">
                        <h1>Magento Installation</h1>
                        <h2>Fill the details below</h2>
                        <hr>
                        <!-- Your form elements can be added here -->
                </div>
        

                <div class="form">
                        <form>
                                <h3>Registration Form</h3>
                                <table>
                                        <tr>
                                                <td>Name: </td>
                                                <td><input type="text"</td>
                                        </tr>
                                </table>
                        </form>
        </center>
                </div>
        
</body>

</html>